@model UmsaSofttekFront.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    
}

@Html.HiddenFor(x=> x.Token);

<div class="text-center">
    <h1 class="display-4">Bienvenidos a umsa Softtek</h1>
</div>

<script src="~/js/Home/Home.js"> </script>