@model UmsaSofttekFront.Models.Login
@{
    ViewData["Title"] = "Home Page";
   @Html.NameFor(x => x.Email)
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a umsa Softtek</h1>
  
   
</div>
